@model List<WebShop.Models.Product>

@{
    ViewBag.Title = "List";
}
<body>
    <div class="container" style="background:#f9f9f9; margin-top:20px;">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-3" style="margin-top:20px;">
                    <div class="thumbnail">
                        <!--тумбнайла тр да е с параметри height:200px; width:253px;-->
                        <a href="@Url.Action("Details", "Product",new {id = product.Id })">
                            <img src="~/UploadedImages/@product.ImageUrl" alt="thumbnail01" style="height:200px; width:253px;" />
                        </a>
                        <div class="caption">
                            <h3 class="text-center">@Html.DisplayFor(p => product.Name)</h3>
                            <p class="text-center" style="border:solid 1px #f2f2f2">Added on: @Html.DisplayFor(modelItem => product.AddedOn)</p>
                            <p><h3 class="text-center">$@Html.DisplayFor(modelItem => product.Price)</h3></p>
                            <p class="text-center">@Html.ActionLink("Details", "Details", new { id = product.Id }, new { @class = "btn btn-default" })</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

